<div class="alert alert-block alert-info">

# Especialització de DataScience de la IT ACADEMY
### *Sprint4 - Exercici 1*
#### Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources". 
https://github.com/IT-Academy-BCN/Data-Science/blob/main/Data-sources/Web_access_log-akumenius.com.txt.7z

#### Alumne: Jorge Prieto Rey
    
<div>

In [43]:
import pandas as pd
import numpy as np
import re

In [44]:
#Llibreria per extreure fitxer .7z
import py7zr

In [45]:
with py7zr.SevenZipFile('Web_access_log-akumenius.com.txt.7z', mode='r') as z:
    z.extractall()

In [46]:
filename='Web_access_log-akumenius.com.txt'

In [47]:
fields = ['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10','c11','c12','c13','c14']
    
data = pd.read_csv(filename, sep=' ', header=None, names=fields, na_values=['-'])
data

P:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14
0,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
1,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
2,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
3,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
4,localhost,127.0.0.1,NaN,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528.0,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN,NaN
261869,www.akumenius.com,74.86.158.107,NaN,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN,NaN
261870,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
261871,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN
261872,localhost,127.0.0.1,NaN,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN,NaN

<div class="alert alert-block alert-info">

### *Sprint4 - Exercici 2*

Neteja, preprocesa, estructura i transforma (dataframe) les dades del registre d'Accés a la web. 
    
<div>

In [48]:
print('Total files: '+str(len(data)))
print('nombre de NaN en Columnes:')
data.isna().sum()

Total files: 261873
nombre de NaN en Columnes:

c1          0
c2          0
c3     261873
c4     261846
c5          0
c6          0
c7         37
c8          0
c9      42335
c10     99545
c11       221
c12         0
c13    261871
c14    261873
dtype: int64

In [49]:
#eliminem la columna c3 i c14 ja que no conte dades
data=data.drop(['c3','c14'],axis=1)

In [50]:
#renombrem les columnes del dataframe
newLength = len(fields)-2;
fields= fields[0:newLength]
data.columns = fields
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528.0,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN

In [51]:
data['c12'].value_counts(sort=False)

VLOG=-    2
Name: c12, dtype: int64

In [52]:
data1 = data.loc[data['c12'] == 'VLOG=-']

In [53]:
data1.index

Int64Index([181473, 236496], dtype='int64')

#### Hi ha 2 files que no estan ben alineades perquè 'VLOG=-' esta a la columna c13

In [54]:
data[data1.index[0]-1:data1.index[0]+2]

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
181472,www.akumenius.com,74.86.158.106,NaN,[26/Feb/2014:23:44:15,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,"HTTP/1.1""",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
181474,www.akumenius.com,220.181.108.96,NaN,[26/Feb/2014:23:44:31,+0100],GET / HTTP/1.1,200,25030.0,NaN,Mozilla/5.0 (compatible; Baiduspider/2.0; +htt...,VLOG=-,NaN

In [55]:
data[data1.index[1]-1:data1.index[1]+2]

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
236495,www.akumenius.com,89.29.152.238,NaN,[28/Feb/2014:16:07:21,+0100],POST /destinos-insert HTTP/1.1,200,26.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,VLOG=-,NaN
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...","HTTP/1.1""",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
236497,www.akumenius.com,89.29.152.238,NaN,[28/Feb/2014:16:07:22,+0100],GET /libraries/jqueryui/css/ui-lightness/image...,200,104.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,VLOG=-,NaN

In [56]:
#Juntem les columnes C6 i C7
data1['c6'] = data1['c6'].map(str)+""+data1['c7']

P:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
#Eliminen la columna C7
data1=data1.drop(['c7'],axis=1)
data1

,c1,c2,c3,c4,c5,c6,c8,c9,c10,c11,c12
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-

In [58]:
data1.loc[:,'b1'] = np.nan
#renombrem les columnes del dataframe
data1.columns = fields
data1

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
181473,www.akumenius.com,5.10.83.41,NaN,[26/Feb/2014:23:44:22,+0100],GET /escapadas/escapada-especial-san-valentin-...,200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-,NaN
236496,www.akumenius.com,5.10.83.11,NaN,[28/Feb/2014:16:07:20,+0100],"GET /escapadas/escapada-\al-salto-de-roldan\""-...",200.0,3100,NaN,Mozilla/5.0 (compatible; AhrefsBot/5.0; +http:...,VLOG=-,NaN

In [59]:
#reemplaçem les files 181473 i 236496
data.iloc[data1.index]=data1
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-,NaN
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-,NaN
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-,NaN

In [60]:
#Verifiquem que la columna c12 no te valors
if ((len(data['c12'])) == (data['c12'].isnull().sum(axis=0))):
    print('Columna buida')

Columna buida

In [61]:
#eliminem la columna c12 ja que no conte dades
data=data.drop(['c12'],axis=1)
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
...,...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,VLOG=-
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,VLOG=-
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),VLOG=-

In [62]:
data['c11'].value_counts(sort=False)

VLOG=-    261873
Name: c11, dtype: int64

In [63]:
#eliminem la columna c11 ja que totes les columnes contenen el mateix valors
data=data.drop(['c11'],axis=1)

#### Renombren les columnes amb la descripció dels elements del log ####

In [64]:
data

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
0,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,NaN,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,NaN,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...
261869,www.akumenius.com,74.86.158.107,NaN,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...
261870,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261871,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261872,localhost,127.0.0.1,NaN,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

In [65]:
data['c3'].value_counts(sort=False)

clarcat    27
Name: c3, dtype: int64

In [66]:
data1 = data.loc[data['c3'] == 'clarcat']
data1

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
51797,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:07,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51799,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:08,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51809,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:54:08,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120843,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51905,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,1146,http://www.akumenius.com/awstats.pl?framename=...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51906,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51907,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:34,+0100],GET /awstats.pl?month=02&year=2013&output=main...,200,109613,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51923,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,1146,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51924,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51926,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:55:54,+0100],GET /awstats.pl?month=02&year=2012&output=main...,200,108224,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51939,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:13,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,1146,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51940,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:13,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,12249,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
51943,www.akumenius.com,80.28.221.123,clarcat,[24/Feb/2014:09:56:14,+0100],GET /awstats.pl?month=02&year=2014&output=main...,200,122007,http://www.akumenius.com/awstats.pl?month=02&y...,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97210,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:27,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97211,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:28,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
97215,www.akumenius.com,80.28.221.123,clarcat,[25/Feb/2014:09:53:28,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120914,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153621,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153622,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
153631,www.akumenius.com,80.28.221.123,clarcat,[26/Feb/2014:10:02:46,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,120993,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195142,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195143,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
195149,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:12:48:52,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121262,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196484,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:05,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196486,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:06,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
196488,www.akumenius.com,80.28.221.123,clarcat,[27/Feb/2014:13:43:06,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121262,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230605,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:38,+0100],GET /awstats HTTP/1.1,200,996,NaN,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230606,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:39,+0100],GET /awstats.pl?framename=mainleft HTTP/1.1,200,10066,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....
230610,www.akumenius.com,80.28.221.123,clarcat,[28/Feb/2014:09:41:39,+0100],GET /awstats.pl?framename=mainright HTTP/1.1,200,121317,http://www.akumenius.com/awstats,Mozilla/5.0 (X11; U; Linux i686; ca; rv:1.9.2....

In [67]:
#Eliminem la columna c3 perque no ens dona informació rellevant
data=data.drop(['c3'],axis=1)
data

,c1,c2,c4,c5,c6,c7,c8,c9,c10
0,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
1,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
2,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
3,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
4,localhost,127.0.0.1,[23/Feb/2014:03:10:31,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,[02/Mar/2014:03:05:39,+0100],GET / HTTP/1.1,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...
261869,www.akumenius.com,74.86.158.107,[02/Mar/2014:03:09:52,+0100],HEAD / HTTP/1.1,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...
261870,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261871,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)
261872,localhost,127.0.0.1,[02/Mar/2014:03:10:18,+0100],OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection)

#### La data en les columnes c4 i c5 representada el temps en dues part, separem la data i l'hora en una nova columna anomenada time i eliminem la columna de zona horaria. També eliminem les columnes c4 i c5 ####

In [68]:
time = data['c4'] + data['c5']
time_trimmed = time.map(lambda s: s.strip('[]').split('+')[0])
data['time'] = pd.to_datetime(time_trimmed, format='%d/%b/%Y:%H:%M:%S')
data=data.drop(['c4'],axis=1)
data=data.drop(['c5'],axis=1)

#### Separem la columna c6 en 3 columnes per "Protocol" + "command" i "path" ####

In [69]:
data_c6=data['c6'].str.split(expand=True)
data_c6.columns = ['command','path','protocol']
data_c6

        command path  protocol
0       OPTIONS    *  HTTP/1.0
1       OPTIONS    *  HTTP/1.0
2       OPTIONS    *  HTTP/1.0
3       OPTIONS    *  HTTP/1.0
4       OPTIONS    *  HTTP/1.0
...         ...  ...       ...
261868      GET    /  HTTP/1.1
261869     HEAD    /  HTTP/1.1
261870  OPTIONS    *  HTTP/1.0
261871  OPTIONS    *  HTTP/1.0
261872  OPTIONS    *  HTTP/1.0

[261873 rows x 3 columns]

In [70]:
#verifiquem que la columna c9 conte les url
data['c9'].value_counts(sort=False)

http://www.google.es/aclk?sa=L&ai=ChnJsZfMOU9T3KaWljAb05oHwAY2dy7gEjba3hVubtKiHCggAEAMoA1CX286vBWDV9diCsCvIAQGpAkO2n5CF9rY-qgQoT9CHU_sHJXX9--ed1eSclahGbOC2xSUjGhymdk_i93K-5NT3YkTtlYAHkcqaE5AHAg&sig=AOD64_1Paps_NYJ1OSqwIEJZf0tycDfFVg&rct=j&q=todo+incluido+mallorca&ved=0CEYQ0Qw&adurl=http://www.akumenius.com/hoteles-baratos/hoteles-todo-incluido.html     1
http://www.akumenius.com/destinos-baratos/hoteles-baratos/ofertas-hotel-Apollonium-Club-La-Costa-Beach-&-Resort-en-Altinkum_TURQUIA-146677b-destinos.html                                                                                                                                                                                                         20
http://www.akumenius.com/hoteles-baratos/ofertas-vacaciones-verano-en-costa-maresme.html                                                                                                                                                                                                                                                                           4
http://www.akumenius.com/booking/49612/b/1/1?i=FjfQhYUqLDarWyh%2BoWdoQnMediU11YfgfgTnfjModGY%3D                                                                                                                                                                                                                                                                   12
http://www.akumenius.com/destinos-baratos/destinosEstrelles/hoteles-en-Xalapa_MEXICO-con-3-estrellas                                                                                                                                                                                                                                                              46
                                                                                                                                                                                                                                                                                                                                                                  ..
http://www.akumenius.com/hoteles-baratos/hoteles-todo-incluido.html?gclid=CP7GvrSD7LwCFYUIwwoduBcAyQ                                                                                                                                                                                                                                                              49
http://www.akumenius.com/hoteles-baratos/ofertas-vacaciones-verano-en-costa-dorada.html                                                                                                                                                                                                                                                                           42
http://www.akumenius.com/destinos-baratos/hoteles-en-Alicante_ESPA%C3%91A                                                                                                                                                                                                                                                                                         34
http://www.akumenius.com/escapadas/culturales-comunidad-valenciana-619.html                                                                                                                                                                                                                                                                                       20
http://www.akumenius.com/escapadas/ocio-497/12.html                                                                                                                                                                                                                                                                                                               19
Name: c9, Length: 2506, dtype: int64

In [71]:
data=data.drop(['c6'],axis=1) #Eliminar columna c6
data=pd.concat([data,data_c6],axis = 1)

In [72]:
#c7 http_code 
#c8 response bytes
#c10 user_agent
#c9 url
data.rename(columns = {'c1':'host','c2':'ip','c7':'http_code','c8' : 'response_bytes','c9':'url','c10':'user_agent'},inplace = True)
data

,host,ip,http_code,response_bytes,url,user_agent,time,command,path,protocol
0,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
1,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
2,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
3,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
4,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,2014-03-02 03:05:39,GET,/,HTTP/1.1
261869,www.akumenius.com,74.86.158.107,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,2014-03-02 03:09:52,HEAD,/,HTTP/1.1
261870,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261871,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261872,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0

In [73]:
#exemple de fila del dataframe
data.iloc[15452]

host                                              www.akumenius.com
ip                                                    88.31.143.254
http_code                                                       200
response_bytes                                                  742
url                             http://www.akumenius.com/hotel-list
user_agent        Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
time                                            2014-02-23 12:51:43
command                                                         GET
path              /modules/raton/views/themes/bcoos/images/busca...
protocol                                                   HTTP/1.1
Name: 15452, dtype: object

<div class="alert alert-block alert-info">

### *Sprint4 - Exercici 3*

Geolocalitza les IP's.
    
<div>

In [74]:
import requests
import json

In [75]:
# URL de la API
api_url = "http://ip-api.com/json/"

In [76]:
#lista ips
data_ips=(data['ip'].value_counts(sort=False)).index

In [77]:
data_ips

Index(['173.252.101.119', '180.76.6.29', '157.56.93.187', '217.12.16.56',
       '84.125.143.42', '90.174.1.32', '88.0.211.168', '184.73.59.145',
       '83.55.163.245', '148.251.69.136',
       ...
       '80.58.250.78', '180.76.5.97', '180.76.6.52', '77.226.72.99',
       '157.55.33.26', '81.45.52.199', '81.45.53.212', '84.77.142.252',
       '185.3.117.155', '37.15.118.53'],
      dtype='object', length=2921)

In [78]:
data_ips[0]

'173.252.101.119'

In [79]:
# Definimos los parametros de respuesta que queremos obtener
parametros = 'status,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,query'
data_Ip = {"fields":parametros}

In [80]:
def ip_scraping(ip=""):
 # Nos conectamos con la API
 res = requests.get(api_url+ip, data=data_Ip)
 # Obtenemos y procesamos la respuesta JSON
 api_json_res = json.loads(res.content)
 return api_json_res

In [81]:
ip_response = ip_scraping(data_ips[0])
ip_response

{'status': 'success',
 'country': 'Canada',
 'countryCode': 'CA',
 'region': 'ON',
 'regionName': 'Ontario',
 'city': 'Toronto',
 'zip': 'M5A',
 'lat': 43.6532,
 'lon': -79.3832,
 'timezone': 'America/Toronto',
 'isp': 'Facebook, Inc.',
 'org': 'Facebook, Inc.',
 'as': 'AS32934 Facebook, Inc.',
 'query': '173.252.101.119'}

In [94]:
ip_df=pd.DataFrame([ip_scraping(data_ips[0])])

In [95]:
ip_df

,status,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,query
0,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.3832,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",173.252.101.119

In [96]:
data_ips1 = data_ips[:50]

In [97]:
for ip in data_ips1:
    ip_df = ip_df.append([ip_scraping(ip)],ignore_index=True)

In [98]:
ip_df

,status,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,query
0,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",173.252.101.119
1,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",173.252.101.119
2,success,China,CN,BJ,Beijing,Beijing,,39.9042,116.40700,Asia/Shanghai,Beijing Baidu Netcom Science and Technology Co...,Beijing Baidu Netcom Science and Technology Co...,AS55967 Beijing Baidu Netcom Science and Techn...,180.76.6.29
3,success,United States,US,WA,Washington,Quincy-moses Lake,98848,47.2342,-119.85250,America/Los_Angeles,Microsoft Corporation,Microsoft Corporation,AS8075 Microsoft Corporation,157.56.93.187
4,success,Spain,ES,AN,Andalusia,Seville,41006,37.3831,-5.97070,Europe/Madrid,Sociedad Andaluza para el Desarrollo de las Te...,Nix1 Tesa,AS34285 Sociedad Andaluza para el Desarrollo d...,217.12.16.56
5,success,Spain,ES,AN,Andalusia,El Puerto de Santa María,11500,36.5904,-6.23500,Europe/Madrid,Ono,PROVIDER Local Registry,"AS6739 VODAFONE ONO, S.A.",84.125.143.42
6,success,Spain,ES,MD,Madrid,Madrid,28017,40.4163,-3.69340,Europe/Madrid,Uni2,,AS12479 Orange Espagne SA,90.174.1.32
7,success,Spain,ES,CM,Castille-La Mancha,Puertollano,13500,38.6915,-4.10250,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,88.0.211.168
8,success,United States,US,VA,Virginia,Ashburn,20149,39.0438,-77.48740,America/New_York,Amazon.com,AWS EC2 (us-east-1),"AS14618 Amazon.com, Inc.",184.73.59.145
9,success,Spain,ES,MD,Madrid,Madrid,28047,40.4163,-3.69340,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,83.55.163.245
10,success,Germany,DE,SN,Saxony,Falkenstein,08223,50.4750,12.36500,Europe/Berlin,Hetzner Online GmbH,Hetzner,AS24940 Hetzner Online GmbH,148.251.69.136
11,success,China,CN,BJ,Beijing,Beijing,,39.9042,116.40700,Asia/Shanghai,"IDC, China Telecommunications Corporation",,"AS23724 IDC, China Telecommunications Corporation",220.181.108.95
12,success,Spain,ES,CM,Castille-La Mancha,Talavera de la Reina,45600,39.9607,-4.82470,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,83.61.133.199
13,success,United States,US,WA,Washington,Bellevue,98007,47.5822,-122.13700,America/Los_Angeles,Clear Wireless LLC,Clear Wireless LLC,,50.10.5.106
14,success,Spain,ES,CL,Castille and León,Palencia,34004,42.0118,-4.51620,Europe/Madrid,JCyL Network,,AS29481 Junta de Castilla y Leon,217.71.18.36
15,success,United States,US,WA,Washington,Quincy-moses Lake,98848,47.2342,-119.85250,America/Los_Angeles,Microsoft Corporation,Microsoft Corporation,AS8075 Microsoft Corporation,65.55.55.231
16,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.66479,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,81.45.52.193
17,success,Bolivia,BO,C,Departamento de Cochabamba,Cochabamba,,-17.3864,-66.15690,America/La_Paz,Comteco Ltda,Comteco Ltda,AS27839 Comteco Ltda,190.11.69.175
18,success,United States,US,FL,Florida,Vero Beach,32963,27.6723,-80.36480,America/New_York,Colostore.com,Colostore.com,AS12260 Colostore.com,74.80.133.228
19,success,Brazil,BR,GO,Goias,Goiânia,74000,-16.6391,-49.26220,America/Sao_Paulo,TELEFÔNICA BRASIL S.A,Global Village Telecom,AS18881 TELEFÔNICA BRASIL S.A,177.158.31.34
20,success,Spain,ES,MD,Madrid,Aranjuez,28300,40.0368,-3.60450,Europe/Madrid,RIMA (Red IP Multi Acceso),,AS3352 TELEFONICA DE ESPANA,79.144.117.80
21,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.66479,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,81.45.52.135
22,success,Spain,ES,IB,Balearic Islands,Palma,07011,39.5661,2.64870,Europe/Madrid,TDENET (Red de servicios IP),IB SALUT,AS3352 TELEFONICA DE ESPANA,195.76.89.2
23,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",173.252.100.113
24,success,United States,US,IA,Iowa,Cedar Rapids,52406,41.9713,-91.65670,America/Chicago,Involta,Involta,AS14230 Involta,209.19.181.146
25,success,Spain,ES,GA,Galicia,Ourense,32001,42.3366,-7.86910,Europe/Madrid,Ono,PROVIDER Local Registry,AS12430 VODAFONE ESPANA S.A.U.,84.125.93.151
26,success,Netherlands,NL,NH,North Holland,Amsterdam,1012,52.3759,4.89750,Europe/Amsterdam,SoftLayer,Cognizant Technology Solutions - Demo Account,AS36351 SoftLayer Technologies Inc.,5.10.83.87
27,success,Andorra,AD,07,Andorra la Vella,Andorra la Vella,,42.5015,1.51440,Europe/Andorra,Andorra Telecom SAU,,AS6752 ANDORRA TELECOM SAU,91.187.64.165
28,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.66479,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,81.45.52.124
29,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.66479,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,81.45.52.97
30,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",173.252.74.115
31,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,Microsoft Corporation,Microsoft Corporation,AS8075 Microsoft Corporation,65.55.52.96
32,success,Germany,DE,HE,Hesse,Frankfurt am Main,60313,50.1109,8.68213,Europe/Berlin,Beijing Baidu Netcom Science and Technology Co...,Baidu (Hong Kong) Limited,AS55967 Beijing Baidu Netcom Science and Techn...,185.10.104.195
33,success,United States,US,WA,Washington,Quincy-moses Lake,98848,47.2342,-119.85250,America/Los_Angeles,Microsoft Corporation,Microsoft Corporation,AS8075 Microsoft Corporation,65.55.24.246
34,success,Spain,ES,CN,Canary Islands,Tacoronte,38350,28.4792,-16.40630,Atlantic/Canary,Ono,,"AS6739 VODAFONE ONO, S.A.",89.140.9.2
35,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",69.171.233.118
36,success,Mexico,MX,JAL,Jalisco,Puerto Vallarta,48290,20.6707,-105.21600,America/Mexico_City,Uninet S.A. de C.V.,Uninet S.A. de C.V.,AS8151 Uninet S.A. de C.V.,187.144.53.170
37,success,United States,US,CA,California,Woodland Hills,91367,34.1765,-118.61400,America/Los_Angeles,Charter Communications,Spectrum,AS20001 Charter Communications Inc,172.251.167.3
38,success,Spain,ES,AN,Andalusia,Seville,41015,37.3831,-5.97070,Europe/Madrid,Orange Spain,Jazztel triple play services,AS12479 Orange Espagne SA,87.219.93.37
39,success,France,FR,IDF,Île-de-France,Colombes,92700,48.9138,2.25690,Europe/Paris,Societe Generale S.A.,SG Americas Operational Services Inc,AS3299 Societe Generale S.A.,207.45.249.157
40,success,Canada,CA,ON,Ontario,Toronto,M5A,43.6532,-79.38320,America/Toronto,"Facebook, Inc.","Facebook, Inc.","AS32934 Facebook, Inc.",69.171.248.2
41,success,Spain,ES,CL,Castille and León,Salamanca,37006,40.9701,-5.66340,Europe/Madrid,Internet GPRS Plus Services,France Telecom España SA,AS12479 Orange Espagne SA,213.143.50.174
42,success,Egypt,EG,GZ,Giza,Giza,,30.0080,31.21940,Africa/Cairo,TE Data,,AS8452 TE-AS,196.202.52.66
43,success,Spain,ES,GA,Galicia,Vigo,36208,42.2299,-8.75608,Europe/Madrid,Vodafone-BB Global,,AS12430 VODAFONE ESPANA S.A.U.,87.235.198.181
44,success,Spain,ES,GA,Galicia,Lugo,27002,43.0097,-7.55210,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,83.34.1.101
45,success,China,CN,BJ,Beijing,Beijing,,39.9042,116.40700,Asia/Shanghai,Beijing Baidu Netcom Science and Technology Co...,Beijing Baidu Netcom Science and Technology Co...,AS55967 Beijing Baidu Netcom Science and Techn...,180.76.5.64
46,success,Spain,ES,CN,Canary Islands,San Cristóbal de La Laguna,38291,28.4684,-16.33300,Atlantic/Canary,Comunitel Global,Comunitel Global S.A.,AS12430 VODAFONE ESPANA S.A.U.,95.63.1.210
47,success,Spain,ES,PV,Basque Country,Vitoria-Gasteiz,01010,42.8572,-2.69810,Europe/Madrid,Telefonica de Espana SAU,RIMA (Red IP Multi Acceso),AS3352 TELEFONICA DE ESPANA,83.49.192.64
48,success,Mexico,MX,CMX,Mexico City,Mexico City,06470,19.4498,-99.15690,America/Mexico_City,Uninet S.A. de C.V.,Petroleos Mexicanos,AS8151 Uninet S.A. de C.V.,200.23.91.150
49,success,Spain,ES,MD,Madrid,Madrid,28021,40.4163,-3.69340,Europe/Madrid,Uni2,,AS12479 Orange Espagne SA,90.174.2.66
50,success,Spain,ES,MD,Madrid,Madrid,28760,40.5167,-3.66479,Europe/Madrid,RIMA (Red IP Multi Acceso),,AS3352 TELEFONICA DE ESPANA,2.140.27.253

#### La funció no permet processar totes les 2921 Ips

### Relacions amb el dataframe principal

In [99]:
data

,host,ip,http_code,response_bytes,url,user_agent,time,command,path,protocol
0,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
1,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
2,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
3,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
4,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-02-23 03:10:31,OPTIONS,*,HTTP/1.0
...,...,...,...,...,...,...,...,...,...,...
261868,www.akumenius.com,5.255.253.53,200,7528,NaN,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,2014-03-02 03:05:39,GET,/,HTTP/1.1
261869,www.akumenius.com,74.86.158.107,200,NaN,NaN,Mozilla/5.0+(compatible; UptimeRobot/2.0; http...,2014-03-02 03:09:52,HEAD,/,HTTP/1.1
261870,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261871,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0
261872,localhost,127.0.0.1,200,NaN,NaN,Apache (internal dummy connection),2014-03-02 03:10:18,OPTIONS,*,HTTP/1.0

In [100]:
http_code_host = data.groupby([data.http_code, data.ip]).count()
http_code_host.iloc[:len(http_code_host.index)]

                           host  response_bytes  url  user_agent  time  \
http_code ip
200       107.21.14.116       2               2    0           1     2
          109.107.105.181    70              70   69          70    70
          109.120.157.179     2               2    2           2     2
          109.205.137.141     1               1    0           1     1
          109.208.120.233     1               1    0           1     1
...                         ...             ...  ...         ...   ...
408       85.57.252.60        5               0    0           0     5
          92.58.211.126       5               0    0           0     5
500       80.28.221.123       2               0    0           2     2
502       176.31.255.177     18              18    0          18    18
          80.28.221.123       1               1    0           1     1

                           command  path  protocol
http_code ip
200       107.21.14.116          2     2         2
          109.107.105.181       70    70        70
          109.120.157.179        2     2         2
          109.205.137.141        1     1         1
          109.208.120.233        1     1         1
...                            ...   ...       ...
408       85.57.252.60           0     0         0
          92.58.211.126          0     0         0
500       80.28.221.123          2     2         2
502       176.31.255.177        18    18        18
          80.28.221.123          1     1         1

[4564 rows x 8 columns]

### Nombre de peticions per Ip

In [101]:
ip = data.groupby([data.ip]).size()

In [102]:
ip

ip
101.199.108.59      32
101.226.167.226      1
107.178.37.48      194
107.178.38.221     176
107.21.14.116        2
                  ...
95.63.234.126      265
95.63.60.249       154
96.242.31.129       52
98.137.206.41       11
98.244.10.248       91
Length: 2921, dtype: int64